<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | New</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- include libraries(jQuery, bootstrap) -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
        <link href="https://fonts.googleapis.com/css?family=Kelly+Slab" rel="stylesheet">
        <!-- include summernote css/js -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

    <style>
        body { padding-top:15px; background-color: black; font-family: 'Kelly Slab', cursive;}
        img { width: 100%;}
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: yellow; display: flex; justify-content: center; padding: 1em; font-size: 2em; position: sticky; top: 0; z-index: 1;">
                <div class="container">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="/">HOME</a>
                            </li>
                            <li>
                                <a href="/create">CREATE</a>
                            </li>
                        </ul>
                </div>
                </div>
    </nav>
    <div class="container">
        <div class="panel panel-danger" style="background-color: black;">
            <div class="panel panel-heading text-center" style="background-color: black; color: yellow;">
                <h1>SHOW ME WHAT YOU KNOW</h1>
            </div>
            <div class="panel-body" id="all">

                <% if (message) { %>
                <div class="alert alert-success" role="alert">
                    <%= message %>
                </div>
                <% } %> 
                
                <form method="POST" action="">

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputName" style="color: yellow;">Artist Name</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Enter Artist Name" name="name">
                        <!-- <small id=heroName" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputURL" style="color: yellow;">Image URL</label>
                        <input type="text" class="form-control" id="exampleInputURL" placeholder="Link to Artist image" name="image_url">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                            <label for="exampleInpuContent" style="color: yellow;">Add Content</label>
                            <input type="text" class="form-control" id="exampleInputContent" placeholder="Add content" name="content">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                            <label for="exampleInputAuthor" style="color: yellow;">Add Author</label>
                            <input type="text" class="form-control" id="exampleInputAuthor" placeholder="Add author" name="author">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <!-- <button type="submit" class="btn btn-success btn-block">Add Hero</button> -->
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <!-- <button id="edit" class="btn btn-primary" onclick="edit()" type="button">EDIT</button> -->
                            <button type="submit" class="btn btn-success btn-block" style="background-color: black; color: yellow;">SAVE</button>
                        </div>

                
                    
            </div>
            <div class="click2edit" id="summernote"></div>
            <div class="panel-footer text-center">
                    <!-- <button id="save" class="btn btn-primary" onclick="save()" type="button">Save 2</button> -->
                </div>
            </form>
                <script>
                  $(document).ready(function() {
                      $('#summernote').summernote();
                  });
                  var edit = function() {
                        $('.click2edit').summernote({focus: true});
                        };

                        var save = function() {
                        var markup = $('.click2edit').summernote('code');
                        $('.click2edit').summernote('destroy');
                    };
                </script>
                                <p style="text-align: center; color: yellow;">All rights reserved 2019 | Miguel.</p>
            </div>

            
        </div>
    </div>

</body>
</html>