<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        body { padding-top:15px; background-image: url("https://stmed.net/sites/default/files/rap-wallpapers-30529-5399299.jpg"); background-repeat: no-repeat; background-size: cover}
        img { width: 100%;}
    </style>
</head>
<body>

    <nav style="background-color: yellow; display: flex; justify-content: center; padding: 1em; font-size: 1.5em; position: sticky; top: 0; z-index: 1;">
            <a class="navbar-brand" href="#">
                <img src="/img/LogoMakr_6JLXvu.png" width="30" height="30" alt="">
            </a>
        <ul class="nav nav-tabs">
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/create">CREATE</a>
            </li>
            <li>
                    <a href="/archive">ARCHIVE</a>
            </li>
        </ul>
    </nav>
            
            <div class="container">
                    <div class="row centered-form">
                    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                    <h3 class="panel-title">Please sign up for Bootsnipp <small>It's free!</small></h3>
                                     </div>
                                     <div class="panel-body">
                                    <form role="form">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                                        </div>
            
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <input type="submit" value="Register" class="btn btn-info btn-block">
                                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="panel-footer text-center">
                <p>All rights reserved 2018 | Nate.</p>
            </div>
        </div>
    </div>

</body>
</html>
