<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | New</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Kelly+Slab" rel="stylesheet">
    <style>
        body { padding-top:15px; background-image: url("https://stmed.net/sites/default/files/rap-wallpapers-30529-5399299.jpg"); background-repeat: no-repeat; background-size: cover; font-family: 'Kelly Slab', cursive;}
        img { width: 100%;}
    </style>
</head>
<body>

        <nav style="background-color: yellow; display: flex; justify-content: center; padding: 1em; font-size: 1.5em;">
                <a class="navbar-brand" href="#">
                    <img src="/img/LogoMakr_6JLXvu.png" width="30" height="30" alt="">
                </a>
            <ul class="nav nav-tabs">
                <!-- <li>
                    <a href="/">HOME</a>
                </li> -->
                <li>
                    <a href="/create">CREATE</a>
                </li>
                <li>
                        <a href="/archive">ARCHIVE</a>
                </li>
                <!-- <li>
                        <a href="/users">USERS</a>
                </li> -->
            </ul>
        </nav>

    <div class="container">
        <div class="panel panel-danger" style="background-color: black">
            <div class="panel panel-heading text-center" style="background-color: black; color: yellow">
                <h1 class="text-center"><%= poke.name %></h1>
            </div>
            <div class="panel-body" id="all">

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                        <img src="<%= poke.image %>">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                        <br>
                        <a href="/update/<%= poke.id %>" class="btn btn-block btn-primary" style="background-color: black; color: yellow">Update</a>
                        <br>
                        <a href="/delete/<%= poke.id %>" class="btn btn-block btn-danger" style="background-color: black; color: yellow">Delete</a>
                    </div>
                </div>  

            </div>
            <div class="panel-footer text-center">
                <p>All rights reserved 2019 | Miguel.</p>
            </div>
        </div>
    </div>

</body>
</html>