<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | New</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%;}
    </style>
</head>
<body>

    <div class="container">
        <div class="panel panel-danger">
            <div class="panel panel-heading text-center">
                <h3 class="text-center"><%= poke.name %></h3>
            </div>
            <div class="panel-body" id="all">

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                        <img src="<%= poke.image %>">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                        <br>
                        <a href="/update/<%= poke.id %>" class="btn btn-block btn-primary">Update</a>
                        <br>
                        <a href="/delete/<%= poke.id %>" class="btn btn-block btn-danger">Delete</a>
                    </div>
                </div>  

            </div>
            <div class="panel-footer text-center">
                <p>All rights reserved 2018 | Nate.</p>
            </div>
        </div>
    </div>

</body>
</html>